.App {
  /*text-align: center;*/
  /*margin: auto;*/
  /*width: 99%;*/
  /*border: none;*/
  /*padding: 10px;*/
}

.grid table {
  border-collapse: collapse;
  width: 1000px;
}

.grid table, th, td {
  border: 1px solid black;
  padding: .1px;
}

.myInput {
  width: 100%;
  font-size: 20px;
  padding: 1px;
  margin: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.myButton {
  -moz-box-shadow: inset 0px 1px 0px 0px #dcecfb;
  -webkit-box-shadow: inset 0px 1px 0px 0px #dcecfb;
  box-shadow: inset 0px 1px 0px 0px #dcecfb;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea));
  background: -moz-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
  background: -webkit-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
  background: -o-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
  background: -ms-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
  background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea', GradientType=0);
  background-color: #bddbfa;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
  margin-bottom: 10px;
}

.myButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa));
  background: -moz-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
  background: -webkit-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
  background: -o-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
  background: -ms-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
  background: linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa', GradientType=0);
  background-color: #80b5ea;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.myButton:disabled,
button[disabled] {
  border: 1px solid #999999;
  background: none;
  background-color: #cccccc;
  color: #666666;
  text-shadow: none;
}

.tooltip {
  position: relative;
}

.tooltip-trigger {
  display: inline-block;
  text-decoration: underline;
}

.tooltip-bubble {
  min-width: 200px;
  max-width: 500px;
  position: absolute;
  z-index: 10;
}

.tooltip-bubble::after {
  content: "";
  position: absolute;
}

.tooltip-top {
  bottom: 100%;
  left: 50%;
  padding-bottom: 9px;
  transform: translateX(-50%);
}

.tooltip-top::after {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid rgb(100, 100, 100);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-bottom {
  top: 100%;
  left: 50%;
  padding-top: 9px;
  transform: translateX(-50%);
}

.tooltip-bottom::after {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid rgb(100, 100, 100);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-left {
  top: 50%;
  right: 100%;
  padding-right: 9px;
  transform: translateY(-50%);
}

.tooltip-left::after {
  border-left: 9px solid rgb(100, 100, 100);
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.tooltip-right {
  top: 50%;
  left: 100%;
  padding-left: 9px;
  transform: translateY(-50%);
}

.tooltip-right::after {
  border-right: 9px solid rgb(100, 100, 100);
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.tooltip-message {
  background: rgb(100, 100, 100);
  border-radius: 3px;
  color: #fff;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1.4;
  padding: 0.75em;
  text-align: center;
}

.myForm input[type=text] {
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.myForm label {
  display: inline-block;
  width: 100px;
  text-align: left;
}

.treeContainer {
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  -webkit-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
  border-radius: .28571429rem;
  min-height: 2.85714286em;
  padding-top: 10px;
  padding-left: 0px;
  margin-top: 0px;
}

.treeDiv {
  float: left;
  width: auto;
  min-width: 400px;
  height: auto;
  min-height: 500px;
  margin-left: 20px;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.dimmed.dimmable > .ui.animating.dimmer, .dimmed.dimmable > .ui.visible.dimmer, .ui.active.dimmer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui.modal,
.ui.active.modal {
  margin: 0 auto !important;
  top: auto !important;
  left: auto !important;
  transform-origin: center !important;
  transition: all ease .5s;
  height: auto;
  width: auto;
}

.myModal {
  width: 100px;
  height: 100px;
  background-color: red;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.ui.container {
  margin-left: 5px !important;
}

.highlighted .my_target {
  background-color: lightblue;
}

.droptarget {
  width: 100% !important;
  height: 100% !important;
  position: relative !important;
  display: inline-block !important;
}

.tree {
 width: 200px;  position: fixed; left: 1em; top: 5em;
  overflow-x: hidden;
}
